<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>		
		<add name="DatabaseDataAccess" connectionString="Data Source=153.109.124.35;Initial Catalog=GR-RB_PPSI_DB;Integrated Security=False;User Id=6231db;Password=Pwd46231.;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPPSI_ServiceWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://153.109.124.35:81/RiedoBaletWcf/PPSI_ServiceWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPPSI_ServiceWCF"
                contract="ServRef_wcf_online.IPPSI_ServiceWCF" name="BasicHttpBinding_IPPSI_ServiceWCF" />
        </client>
    </system.serviceModel>
</configuration>